<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <form method="post" action="/signup">
        <h1>Sign Up New Username</h1>
        <label>Username</label>
        <input type="text" name="username" placeholder="username">
        <br><br>
        <label>Email</label>
        <input type="email" name="email" placeholder="email">
        <br><br>
        <label>Password</label>
        <input type="password" name="password" placeholder="password">
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>